<div class="page-header">
  <div class="row">
    <h1 class="col-sm-8" style="margin-left: 10px">Dance Time</h1>
    <div class="col-sm-3">
      <span style="margin-right: 20px"><%= link_to 'Login', 'login', class: 'btn btn-default pull-right' %></span>
    </div>
  </div>
</div>
