@import 'bootstrap';
  
.first-col
  border-left: 1px solid #bbb
    
.col-sm-1
  padding-left: 5px
  padding-right: 5px
  border-right: 1px solid #bbb

.first-row
  border-top: solid 1px #bbb
    
.row-time
  @extend .row
  height: 60px
  border-top: solid 1px #bbb
    
.last-row
  @extend .row-time
  border-bottom: solid 1px #bbb
    
.element-height
  height: 100%
  
.avatar
  height: 150px
  width: 150px
  overflow: hidden
  background-repeat: no-repeat
  background-size: contain

.info-block
  display: block
  float: left
  margin-left: 20px

.list-item
  @extend .clearfix
  margin-bottom: 20px

.push--top
  margin-top: 20px
  
.border-dark
  border: solid 2px black
   
.offset-color
  background-color: #D6E6FF
    
#footer
  height: 110px